.container {
	position: absolute;
	top: 12px;
	width: 100%;
}

input {
	outline: none;
}

#date {
	margin: 19px 0;
}

.search {
	height: 46px;
	border: 1px solid #F0F1F1;
	border-radius: 25px;
	line-height: 45px;
	padding: 0 19px;
	-webkit-box-shadow: 0px 3px 3px #c8c8c8;
	-moz-box-shadow: 0px 3px 3px #c8c8c8;
	box-shadow: 0px 3px 3px #c8c8c8;
}

.search_input {
	float: left;
}

.search_input input {
	border: none;
	height: 30px;
	margin-top: 5px;
}

.search_right {
	float: right;
	width: 20px;
	height: 20px;
}

.search_right img {
	width: 100%;
	height: 100%;
}

/* 2021x */